@use '../variables' as *;

@keyframes slideFromTop {
  from {
    transform: translateY(-100vh);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

[data-theme='code-vibes'].exit-dialog[open] {
  animation: slideFromTop 0.6s ease;
}

[data-theme='food'].exit-dialog[open],
[data-theme='games'].exit-dialog[open] {
  animation: slideFromBottom 0.6s ease;
}

[data-theme='da-projects'].exit-dialog[open] {
  animation: fadeIn 0.8s ease;
}

.gamesField {
  min-height: 100vh;
}

.score-badge__player-1-group,
.score-badge__player-2-group {
  &.is-blue {
    color: $player-blue;
  }

  &.is-orange {
    color: $player-orange;
  }
}

.board {

  display: grid;
  grid-template-columns: repeat(4, 120px);
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;

  &--24,
  &--36 {
    grid-template-columns: repeat(6, 120px);
  }
}

.card {
  width: 100%;
  aspect-ratio: 120 / 100;
  cursor: pointer;
  perspective: 800px;
}

.card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.is-flipped .card__inner {
  transform: rotateY(180deg);
}

.card__front,
.card__back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__front {
  transform: rotateY(180deg);
}

.scoreboard {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  margin-bottom: 2.5rem;
}

.scoreboard__scores {
  background-color: $games-code-screen-bg-scoreboard;
  display: flex;
  justify-self: start;
  height: 62px;
  gap: 0.75rem;
  border-radius: 10px;
}

.score-badge {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: $font-weight-semibold;
  font-size: 30px;

  &__icon {
    width: 20px;
    height: 25px;
  }
}

.scoreboard__current {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 0.5rem;
  font-weight: $font-weight-semibold;
}


.current-player-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 6px;

  img {
    width: 29px;
    height: 24px;
  }
}

.current-player-badge {
  background-color: transparent;

  &.is-blue {
    background-color: $player-blue;
  }

  &.is-orange {
    background-color: $player-orange;
  }
}

.exit-btn {
  background-color: $games-code-screen-bg-scoreboard;
  height: 62px;
  width: 207px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  justify-self: end;
  cursor: pointer;
  font-weight: $font-weight-semibold;
  font-size: 20px;
}

.exit-btn-icon {
  width: 24.75px;
  height: 22.5px;
  transition: opacity 0.2s ease;
}

.exit-dialog {
  border: none;
  padding: 1rem;
  max-width: 450px;
  max-height: 270px;
  border-radius: 20px;
  margin: auto;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.cancel-btn {
  border-radius: 10px;
  font-size: 20px;
  width: 168px;
  height: 57px;
  background-color: $btn-back-code-bg;
  color: $color-white;
}

.confirm-exit-btn {
  font-size: 20px;
  border-radius: 10px;
  width: 168px;
  height: 57px;
  color: $btn-back-code-bg;
  border: 2px solid $btn-back-code-bg;
}

.exit-dialog__text {
  font-family: 'Red_Rose';
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
}

.exit-dialog__actions {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.exit-icon-wrapper {
  position: relative;
  display: inline-block;
}

.exit-btn-icon--hover {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.exit-btn:hover .exit-btn-icon--hover {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.exit-btn:hover .exit-btn-icon:not(.exit-btn-icon--hover) {
  opacity: 0;
}


// Code Vibes
[data-theme='code-vibes'] {
  &.gamesField {
    background-color: $games-screen-bg;
  }


  .score-badge__player-1-group,
  .score-badge__player-2-group {
    &.is-blue {
      color: $player-blue;
    }

    &.is-orange {
      color: $player-orange;
    }
  }

  .score-badge__player-1-group,
  .score-badge__player-2-group {
    text-transform: capitalize;
    font-family: 'Red_Rose';
    font-size: 24px;
  }


  .scoreboard {
    background-color: $games-screen-bg;
    color: $color-white;

    &__scores {
      border-radius: 0;
    }
  }

  .current-player-word {
    font-family: 'Red_Rose';
    font-size: 26px;
  }

  .exit-btn {
    background-color: $games-code-screen-bg-scoreboard;
    font-family: 'Red_Rose';
    border: 1px solid #59ccb8;
    font-size: 24px;
    color: $color-white;
    border-radius: 0;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, border 0.2s ease;

    &:hover {
      box-shadow: 0 4px 8px rgba(255, 255, 255, 0.6);
      border: 3px solid #59ccb8;

      .exit-btn-icon {
        opacity: 1;
      }
    }

    .exit-btn-icon--hover {
      display: none;
    }
  }

  .current-player-badge {
    background-color: transparent;
  }

  &.exit-dialog {
    border-radius: 0;

  }

  .confirm-exit-btn,
  .cancel-btn {
    font-family: 'Red_Rose';
    border-radius: 0;
  }

  .cancel-btn:hover {
    background-color: #82e9d8;
    border: 3px solid $btn-back-code-bg;
  }

  .confirm-exit-btn:hover {
    background-color: #effcfa;
    box-shadow: 0 0 12px rgba(130, 233, 216, 0.6);
    border: 3px solid $btn-back-code-bg;
  }

}

// games
[data-theme='games'] {

  &.gamesField {
    background-color: $games-screen-bg-games;
  }

  .scoreboard {
    background-color: $games-screen-bg-scoreboard;
    font-family: 'Orbitron';

    &__scores {
      background-color: white;
    }
  }

  .scoreboard__current {
    font-family: 'Orbitron';
  }


  .score-badge__icon {
    width: 22px;
    height: 28px;
  }

  .current-player-word {
    color: white;
    font-size: 32px;
  }

  .current-player-badge {
    width: 41px;
    height: 40px;
  }

  .current-player-badge img {
    width: 25px;
    height: 32px;
  }

  .exit-btn {
    height: 54px;
    border: 2px solid $btn-back-games-bg;
    background-color: $games-screen-bg-scoreboard-exit;
    color: white;
    font-family: 'Orbitron';

    &:hover {
      box-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
      border: 3px solid $btn-back-games-bg;
      background-color: $games-screen-bg-scoreboard-exit;
    }
  }

  .exit-btn-icon--hover {
    width: 24.75px;
    height: 22.5px;
    object-fit: cover;
  }

  &.exit-dialog {
    width: 481px;
    height: 254px;
  }

  .exit-dialog__text {
    color: $btn-games-bg;
    font-family: 'Orbitron';
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 2.5rem;
  }

  .cancel-btn,
  .confirm-exit-btn {
    font-family: 'Orbitron';
    font-size: 16px;
  }

  .cancel-btn {
    width: 201px;
    background-color: $btn-back-games-bg;

    &:hover {
      color: $btn-back-games-bg;
      background-color: white;
      border: 3px solid $btn-back-games-bg;
    }
  }

  .confirm-exit-btn {
    width: 176px;
    color: $btn-back-games-bg;
    border: 2px solid $btn-back-games-bg;

    &:hover {
      border: 3px solid $btn-back-games-bg;
      background-color: #f0e4ee;
    }
  }
}

// da-projects
[data-theme='da-projects'] {
  &.gamesField {
    background-color: #ffffff;
  }

  .scoreboard {
    background-color: $games-screen-bg-da-projects-scoreboard;

    .scoreboard__scores {
      background-color: white;
      font-family: 'Figtree';
    }
  }

  .score-badge {
    font-family: 'Figtree';
    font-size: 38px;
  }

  .current-player-word {
    font-size: 32px;
    color: $btn-exit-da-projects-bg;
    font-family: 'Figtree';
  }

  .exit-btn {
    background-color: $games-screen-bg-da-projects-scoreboard-exit;
    color: $btn-exit-da-projects-bg;
    font-size: 20px;

    &:hover {
      transition: color 0.3s ease;
      color: white;
      background-color: #1d7595;
    }
  }

  .exit-btn-icon {
    width: 30px;
    height: 30px;
  }

  &.exit-dialog {
    height: 253px;
    width: 456px;
  }

  .exit-dialog__text {
    font-family: 'Figtree';
    color: #294f60;
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 2.5rem;
  }

  .confirm-exit-btn,
  .cancel-btn {
    font-family: 'Figtree';
    font-size: 16px;
    font-weight: 700;
  }

  .confirm-exit-btn {
    background-color: #fe8a81;
    color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease;

    &:hover {
      background-color: $btn-back-da-projects-bg;
      box-shadow: none;
    }
  }

  .cancel-btn {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease;
    background-color: $theme-da-projects-bg;
    color: $btn-exit-da-projects-bg;

    &:hover {
      color: white;
      background-color: $btn-exit-da-projects-bg;
      box-shadow: none;
    }
  }
}

// food
[data-theme='food'] {

  &.gamesField {
    background-color: $color-white;
  }

  .scoreboard {
    background-color: $games-screen-bg-food-scoreboard;
  }

  .scoreboard__scores {
    background-color: $color-white;
    border-radius: 10px;
    height: 54px;
  }

  .score-badge {
    font-size: 30px;
  }

  .current-player-word {
    font-size: 32px;
    font-family: 'Klee_One';
    font-weight: 400;
    color: #a45212;
  }

  .exit-btn {
    width: 173px;
    height: 46px;
    background-color: $games-screen-bg-food-scoreboard-exit;
    color: $player-orange;
    border: 1px solid $btn-exit-food-bg;
    font-family: 'Delius';
    text-transform: uppercase;
    font-size: 16px;

    &-icon {
      width: 22px;
      height: 22px;
      color: $player-orange;
    }

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
      background-color: $btn-exit-food-bg;
      transition: color 0.3s ease;
      color: white;
    }
  }

  .exit-btn-icon--hover {
    width: 22px;
    height: 22px;
    object-fit: contain;
  }

  &.exit-dialog {
    padding: 40px;
    border-radius: 20px;
    gap: 40px;
  }

  .exit-dialog__text {
    color: #a45212;
    font-size: 28px;
    font-family: 'Klee_One';
  }

  .confirm-exit-btn,
  .cancel-btn {
    height: 45px;
    background-color: #FFAB3E;
    border: 1px solid #F3832D;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Delius';
    text-transform: uppercase;
  }

  .confirm-exit-btn {
    background-color: #fff9f2;
    color: #F3832D;
    width: 116px;

    &:hover {
      background-color: #F3832D;
      color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    }
  }

  .cancel-btn {
    &:hover {
      background-color: #F3832D;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    }
  }
}

// media queries
@media (max-height: 720px) {
  .board {
    gap: 1.5rem;
  }

  .scoreboard {
    margin-bottom: 1rem;
  }
}

@media (max-height: 600px) {
  .board--36 {
    max-width: 380px;
    gap: 0.4rem;
  }

  .board--36 .card {
    aspect-ratio: 1 / 1;
  }

  .scoreboard {
    margin-bottom: 1rem;
  }
}

@media (max-width: 1024px) {
  .board {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    max-width: 600px;
    padding: 0 1rem;

    &--24,
    &--36 {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}

@media (max-width: 930px) {
  .score-color {
    display: none;
  }
}

@media (max-width: 768px) {
  .board {
    grid-template-columns: repeat(4, 2fr);
    gap: 1.5rem;
    max-width: 600px;
    padding: 0 1rem;

    &--24,
    &--36 {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  [data-theme] {
    .score-badge {
      font-size: 25px;

      &__icon {
        width: 15px;
        height: 20px;
      }
    }
  }

  [data-theme] .exit-btn {
    width: 64px;

    &__text {
      display: none;
    }
  }
}

@media (max-width: 650px) {

  .board {
    gap: 0.5rem;

    &--24 {
      grid-template-columns: repeat(4, 70px);
    }

    &--36 {
      grid-template-columns: repeat(4, 60px);
    }
  }

  [data-theme] {
    .current-player-word {
      font-size: 25px;
    }

    .scoreboard__scores {
      gap: 0;
      padding: 0 10px;
    }

    .score-badge {
      padding: 0.4rem 0.2rem;
    }

    .current-player-badge {
      width: 25px;
      height: 25px;


      img {
        width: 24px;
        height: 19px;
      }
    }
  }
}

@media (max-width: 480px) {
  .board {
    gap: 0.5rem;
  }

  [data-theme] .current-player-word {
    display: none;
  }

  [data-theme].exit-dialog[open] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 0;
  }

  .exit-dialog__actions {
    flex-direction: column;
  }

  [data-theme] .cancel-btn,
  [data-theme] .confirm-exit-btn {
    width: 100%;
  }
}