@use '../variables' as *;
@use '../functions' as *;


#winner-name {
    &.is-blue {
        color: $player-blue;
    }

    &.is-orange {
        color: $player-orange;
    }
}

.gameover-screen__title-img {
    display: none;
}

.score-badge {
    &.is-blue {
        color: $player-blue;
    }

    &.is-orange {
        color: $player-orange;
    }
}

.gameover-screen,
.winner-screen,
.draw-screen {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.winner-screen {
    flex-direction: column;
    justify-content: flex-start;

    &confetti {
        width: 1233px;
        height: 358px;
    }
}

.gameover-screen__content,
.winner-screen__content,
.draw-screen__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.draw-screen__label,
.winner-screen__label {
    color: $color-white;
    font-size: 40px;
    font-family: 'Red_Rose';
    font-weight: 400;
}

.winner-screen__content h1 {
    font-size: 60px;
    font-family: 'Red_Rose';
    font-weight: 600;
}

.gameover-screen__scores {
    display: flex;
    justify-content: center;
    width: rem(323);
}

.draw-screen__title-img {
    width: 420px;
    height: 78px;
}

.draw-screen__scale-icon {
    width: 64px;
    height: 64px;
}

.draw-screen__scale-icon {
    width: 339px;
    height: 270px;
}

.winner-screen__content img {
    width: 200px;
    height: 250px;
}

.winner-screen button,
.draw-screen button {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: $font-weight-semibold;
}


.draw-screen__title-text {
    display: none;
}

.draw-screen__title-img {
    display: block;
}








[data-theme='code-vibes'] {

    &.gamesField,
    &.gameover-screen,
    &.winner-screen,
    &.draw-screen {
        background-color: $games-screen-bg;
    }


    .score-badge {
        font-size: 24px;
        text-transform: capitalize;
    }

    &.gameover-screen {
        h1 {
            display: none;
        }

        .gameover-screen__title-img {
            display: block;
            width: rem(990);
            height: rem(125);
            margin-bottom: 28px;
        }

        p {
            font-family: 'Red_Rose';
            font-size: 26px;
            color: white;
        }

        &.gameover-screen {
            .gameover-screen__scores {
                background-color: $games-code-screen-bg-scoreboard;
                height: 62px;

                img {
                    width: 24px;
                    height: 20px;
                }
            }
        }
    }

    .home-btn {
        font-family: 'Red_Rose';
        font-size: 24px;
        background-color: $games-code-screen-bg-scoreboard;
        border: 1px solid #517671;
        color: $color-white;
    }

}


[data-theme='games'] {

    &.gamesField,
    &.gameover-screen,
    &.winner-screen,
    &.draw-screen {
        background-color: $games-screen-bg-scoreboard;
    }
}

[data-theme='da-projects'] {

    &.gamesField,
    &.gameover-screen,
    &.winner-screen,
    &.draw-screen {
        background-color: $theme-da-projects-bg;
    }
}




[data-theme='food'] {

    &.gameover-screen {
        background-color: #f3832d
    }

    &.winner-screen,
    &.draw-screen {
        .home-btn {
            color: white;
            background-color: #f3832d;
            font-family: 'Delius';
            font-size: 16px;
            height: 45px;
            width: 97px;
        }
    }

    .gameover-screen__content {
        gap: 2rem;

        h1,
        p {
            font-family: 'Klee_One';
            font-size: 130px;
            color: white;
        }

        p {
            font-size: 42px;
        }
    }

    .gameover-screen__scores {
        background-color: white;
        width: 220px;
        height: 76px;
        margin-top: -1rem;
    }

    &.draw-screen {
        .draw-screen__title-text {
            display: block;
        }

        .draw-screen__title-img {
            display: none;
        }
    }

    .score-badge {
        font-size: 40px;
        gap: 0.2rem;

        img {
            height: 30px;
        }
    }

    // winner screen 
    &.winner-screen {
        justify-content: center;
    }

    .winner-screen__content h1 {
        margin-top: -2rem;
    }

    .confetti {
        display: none;
    }

    .winner-screen__label {
        font-family: 'Klee_One';
        font-size: 40px;
        color: #a45212;
    }

    #winner-name {
        font-family: 'Klee_One';
        font-weight: 600;
        font-size: 60px;

        &.is-blue,
        &.is-orange {
            color: #a45212;
        }
    }

    .winner-icon-wrapper {
        margin-top: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 300px;
        border-radius: 12px;
        background-color: #f7e6d5;
    }

    // draw screen
    .draw-screen__label {
        font-family: 'Klee_One';
        color: #f3832d;
        font-size: 40px;
        font-weight: 600;
    }

    .draw-screen__title-text {
        font-family: 'Klee_One';
        color: #f3832d;
        font-size: 128px;
        font-weight: 600;
    }

    .draw-screen__scale-icon {
        height: 285px;
        width: 312px;
    }
}