@use '../variables' as *;
@use '../functions' as *;
@use 'sass:color';

.home {
  position: relative;
  min-height: 100vh;
  background-color: #2f3130;
  display: flex;
  align-items: stretch;
  justify-content: center;

  &__content {
    color: white;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__deco {
    position: absolute;
    bottom: 0;
    left: -30px;
    width: 300px;
    fill: $color-white;
    opacity: 0.05;
    pointer-events: none;
    z-index: 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }

  &__eyebrow,
  &__title,
  .btn--play {
    position: relative;
    z-index: 1;
  }

  &__eyebrow {
    font-size: rem(48);
    margin-bottom: rem(8);
  }

  &__title {
    font-size: rem(120);
    font-weight: $font-weight-bold;
    margin-bottom: rem(40);
  }
}

.controller {
  position: absolute;
  left: 0;
  bottom: 0;
  width: rem(300);
  height: auto;
  z-index: 0;
}

.btn__icon {
  width: rem(44);
  height: rem(32);
  fill: $color-black;
  transition: transform 0.3s ease;

}

.btn__arrow {
  width: rem(35);
  fill: $color-black;
  transition: transform 0.3s ease;
}

.btn--play:hover .btn__arrow {
  transform: scale(1.7) scaleY(1.7);
}


.btn--play {
  display: inline-flex;
  align-self: center;
  align-items: center;
  gap: rem(20);
  font-size: rem(40);
  width: fit-content;
  background-color: $btn-play-bg;
  color: $color-black;
  font-weight: $font-weight-semibold;
  padding: 0.75rem 1.25rem;
  font-family: 'Red_Rose';
  transition: transform 0.3s ease, background-color 0.3s ease;

  &:hover {
    transform: scaleX(1.15) scaleY(1.1);

    .btn__icon {
      transform: rotate(-14deg);
    }
  }
}

@media (max-height: 800px) {
  .controller {
    bottom: rem(20);
  }
}

@media (max-width: 1024px) {
  .home {
    &__content {
      padding-left: 3rem;
    }

    &__title {
      font-size: rem(80);
    }

    &__eyebrow {
      font-size: rem(32);
    }
  }

  .controller {
    width: rem(260);
  }
}

@media (max-width: 768px) {
  .home {
    &__content {
      padding-left: 2rem;
    }

    &__title {
      font-size: rem(60);
    }

    &__eyebrow {
      font-size: rem(24);
    }
  }

  .controller {
    width: rem(180);
  }
}

@media (max-width: 480px) {
  .home {
    &__content {
      padding-left: 1rem;
    }

    &__title {
      font-size: rem(40);
    }

    &__eyebrow {
      font-size: rem(16);
    }
  }
}