@use '../variables' as *;
@use '../functions.scss' as *;
@use 'sass:color';

* {
  box-sizing: border-box;
}


.settings {
  min-height: auto;
  background-color: $color-white;
  display: flex;
  justify-content: center;

  &__layout {
    display: flex;
    width: 100%;
    max-width: 1440px;
    padding: 4rem;
    gap: 4rem;
    align-items: flex-start;
  }

  &__main {
    flex: 1;
  }

  // Title styles
  &__title {
    font-size: rem(54);
    font-weight: $font-weight-bold;
    position: relative;
    display: inline-block;
    padding-bottom: 0.25rem;
  }

  &__title::before {
    content: '';
    position: absolute;
    left: -10px;
    bottom: -3px;
    width: 10px;
    height: 10px;
    background-color: #f0e96e;
    transform: rotate(45deg);
  }

  &__title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #f0e96e;
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;
    margin-top: 6.75rem;
  }

  &__preview {
    flex: 1;
  }

  &__preview-img {
    width: 460px;
    height: 412px;
  }

  &__preview-img[hidden] {
    display: none;
  }

  &__group {
    margin-top: 3rem;
    border: none;
    margin-bottom: 2rem;

    &:first-child {
      margin-top: 0;
    }
  }

  &__legend {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: $font-weight-semibold;
    font-size: rem(24);
    margin-bottom: 0.75rem;
  }

  &__legend-icon {
    width: 32px;
    height: 32px;
  }

  &__option {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.25rem 0;
    padding-left: 2.75rem;
    position: relative;
  }

  &__option input[type='radio'] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid $color-black;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
  }

  &__option input[type='radio']:checked {
    border-color: $color-black;
  }

  &__option input[type='radio']:checked::after {
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 50%;
    background-color: $color-black;
  }

  &__label {
    font-size: rem(20);
  }

  &__option:has(input:checked)::after {
    content: '';
    position: absolute;
    left: 100%;
    margin-left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 32px;
    background-color: #f0e96e;
  }

  &__option:has(input:checked)::before {
    content: '';
    position: absolute;
    left: 100%;
    margin-left: 2.7rem;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: #f0e96e;
  }

  &__summary {
    width: fit-content;
    height: 81px;
    background-color: $btn-play-bg-btn;
    display: flex;
    align-items: center;
    gap: rem(18);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    margin-top: 1rem;
    font-size: rem(20);
    transform-origin: right center;
    transition: transform 0.2s ease;
  }

  .settings__summary:has(.settings__start:hover:not(:disabled)) {
    transform: scaleX(1.05);
  }

  &__start {
    width: 126px;
    height: 53px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: $btn-play-bg;
    padding: 0.5rem 1rem;
    font-size: rem(20);
    font-weight: $font-weight-semibold;
    transition: transform 0.2s ease, background-color 0.2s ease;
    transform-origin: right center;

    img {
      transition: transform 0.3s ease;
    }

    &:hover:not(:disabled) {
      transform: scale(1.05);

      img {
        transform: rotate(-14deg);
      }
    }

    &:disabled {
      background-color: #dadbd5;
      cursor: not-allowed;
      opacity: 0.5;
      color: #7a7a7a;
    }
  }

  &__summary-item {
    position: relative;
    padding-right: 1.5rem;
    white-space: nowrap;
  }

  &__summary-item::before {
    content: none;
    position: absolute;
    transform: translateY(calc(-50% + 28px)) rotate(70deg);
    width: 15px;
    height: 15px;
    background-color: #f0e96e;
    right: 5px;
    top: 50%;
  }

  &__summary-item::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(20deg);
    width: 8px;
    height: 56px;
    background-color: #f0e96e;
  }

  &__summary-item:last-of-type::after {
    display: none;
    padding-right: 0;
  }

  &__summary-item:last-of-type {
    padding-right: 0;
  }
}

// ===== Hover-Effekte =====

.settings__option:hover .settings__label {
  text-shadow: 0.4px 0 0 currentColor, -0.4px 0 0 currentColor;

}

.settings__option:hover input[type='radio'] {
  border-width: 3px;
}

.settings__option:hover input[type='radio']::after {
  content: '';
  position: absolute;
  inset: 3px;
  border-radius: 50%;
  background-color: $color-black;
}


.settings__option:hover::after {
  content: '';
  position: absolute;
  left: 100%;
  margin-left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 32px;
  background-color: #f0e96e;
}

.settings__option:hover::before {
  content: '';
  position: absolute;
  left: 100%;
  margin-left: 2.7rem;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: #f0e96e;
}


.settings__group:has(.settings__option:hover) .settings__option:not(:hover) input[type='radio']:checked::after {
  content: none;
}

.settings__group:has(.settings__option:hover) .settings__option:has(input:checked):not(:hover)::after,
.settings__group:has(.settings__option:hover) .settings__option:has(input:checked):not(:hover)::before {
  content: none;
}

.settings__layout:has(input[name="theme"]:checked) #summary-theme::before {
  content: '';
}

.settings__layout:has(input[name="theme"]:checked) #summary-theme::after {
  width: 4px;
}

.settings__layout:has(input[name="player"]:checked) #summary-player::before {
  content: '';
}

.settings__layout:has(input[name="player"]:checked) #summary-player::after {
  width: 4px;
}

@media (max-height: 800px) {
  .settings {

    &__layout {
      padding: 2rem;
    }
  }
}

@media (max-height: 720px) {
  .settings {
    &__group {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    &__title {
      font-size: rem(36);
    }

    &__layout {
      padding: 2rem;
    }

    &__right {
      margin-top: 3rem;
    }
  }
}

@media (max-width: 1024px) {
  .settings {
    &__title {
      font-size: rem(40);
    }

    &__layout {
      gap: 0;
    }

    &__legend {
      font-size: rem(20);
    }

    &__preview-img {
      width: 360px;
      height: 322px;
    }

    &__legend-icon {
      width: 24px;
      height: 24px;
    }

    &__label {
      font-size: rem(16);
    }

    &__summary {
      font-size: rem(16);
      height: auto;
      gap: rem(12);
      padding: 0.75rem 1rem;
    }

    &__summary-item {
      padding-right: 1rem;
    }

    &__summary-item::after {
      width: 3px;
      height: 28px;
    }

    &__summary-item::before {
      width: 10px;
      height: 10px;
      transform: translateY(calc(-50% + 16px)) rotate(70deg);
      right: 3px;
    }

    &__start {
      padding: 0.5rem 1.5rem;
      width: auto;
      height: auto;
      font-size: rem(16);
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  .settings {
    &__layout {
      flex-direction: column;
      align-items: center;
      padding: 1rem;
    }

    &__preview {
      display: none;
    }

    &__right {
      align-items: center;
      margin-top: 0;
    }

    &__main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__start img {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .settings {
    &__start {
      transform-origin: center;
      padding: 0.5rem 1rem;

      &:hover:not(:disabled) {
        transform: scale(1.10);
      }
    }

    .settings__group {
      margin-top: 1rem;
    }

    .settings__summary:has(.settings__start:hover:not(:disabled)) {
      transform: none;
    }

    &__summary {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__summary-item::after {
      width: 4px;
      height: 20px;
    }

    &__summary-item::before {
      transform: translateY(calc(-50% + 12px)) rotate(70deg);
      right: 2px;
    }
  }
}