@use 'reset';
@use 'components/home';
@use 'components/settings';
@use 'components/board';
@use 'components/endscreens';

                    /* Red Rose */
@font-face {
  font-family: 'Red_Rose';
  src: url('../assets/font/Almarai/Red_Rose/static/RedRose-Regular.ttf') format('truetype');
  font-weight: 400;
}
    
@font-face {
  font-family: 'Red_Rose';
  src: url('../assets/font/Almarai/Red_Rose/static/RedRose-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Red_Rose';
  src: url('../assets/font/Almarai/Red_Rose/static/RedRose-Bold.ttf') format('truetype');
  font-weight: 700;
}

                /* Almarai */
@font-face {
    font-family: 'Almarai';
    src: url('../assets/font/Almarai/Almarai-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Almarai';
    src: url('../assets/font/Almarai/Almarai-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Almarai';
    src: url('../assets/font/Almarai/Almarai-Bold.ttf') format('truetype');
    font-weight: 700;
}