@use 'reset';
@use 'components/home';
@use 'components/settings';
@use 'components/board';
@use 'components/endscreens';


@font-face {
  font-family: 'Red_Rose';
  src: url('../assets/font/Red_Rose/static/RedRose-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Red_Rose';
  src: url('../assets/font/Red_Rose/static/RedRose-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Red_Rose';
  src: url('../assets/font/Red_Rose/static/RedRose-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Almarai';
  src: url('../assets/font/Almarai/Almarai-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Almarai';
  src: url('../assets/font/Almarai/Almarai-Bold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Delius';
  src: url('../assets/font/Delius/Delius-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Klee_One';
  src: url('../assets/font/Klee_One/KleeOne-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Klee_One';
  src: url('../assets/font/Klee_One/KleeOne-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../assets/font/Orbitron/static/Orbitron-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Figtree';
  src: url('../assets/font/Figtree/static/Figtree-SemiBold.ttf') format('truetype');
  font-weight: 600;
}


@font-face {
  font-family: 'Figtree';
  src: url('../assets/font/Figtree/static/Figtree-Regular.ttf') format('truetype');
  font-weight: 600;
}