$font-primary: 'Figtree', sans-serif;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$color-white: #ffffff;
$color-black: #000000;


// Code-Logos
$theme-code-bg: #134659;
$btn-code-bg: #303231;

// Food 
$theme-food-bg: #e7e2dc;

// Games
$theme-games-bg: #23789d;
$btn-games-bg: #2a4f61;

// Da-Projects
$theme-da-projects-bg: #bfe5f2;